<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:for="http://www.w3.org/1999/xhtml">
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/generic.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- horizontal menu top of page -->
<div th:insert="~{header :: header}"></div>

<h2>Uw wekelijkse beschikbaarheid</h2>
<p>Geef hieronder uw per dag aan welke dag delen u beschikbaar bent</p>


<form>

<script language="JavaScript">
    function toggle(source) {
    checkboxes = document.getElementsByName('day');
    for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
    }
    }
</script>


    <input type="checkbox" onClick="toggle(this)"> Selecteer alle dagen<br/>

<!--    <br>-->
<!--    <input type="checkbox" name="day" value="monday1">maandag ochtend-->
<!--    <input type="checkbox" name="day" value="tuesday1">dinsdag ochtend-->
<!--    <input type="checkbox" name="day" value="wednesday1">woensdag ochtend-->
<!--    <input type="checkbox" name="day" value="thursday1">donderdag ochtend-->
<!--    <input type="checkbox" name="day" value="friday1">vrijdag ochtend-->
<!--    <br>-->
<!--    <input type="checkbox" name="day" value="monday2">maandag middag-->
<!--    <input type="checkbox" name="day" value="tuesday2">dinsdag middag-->
<!--    <input type="checkbox" name="day" value="wednesday2">woensdag middag-->
<!--    <input type="checkbox" name="day" value="thursday2">donderdag middag-->
<!--    <input type="checkbox" name="day" value="friday2">vrijdag middag-->
<!--    <br>-->
<!--    <input type="checkbox" name="day" value="monday3">maandag avond-->
<!--    <input type="checkbox" name="day" value="tuesday3">dinsdag avond-->
<!--    <input type="checkbox" name="day" value="wednesday3">woensdag avond-->
<!--    <input type="checkbox" name="day" value="thursday3">donderdag avond-->
<!--    <input type="checkbox" name="day" value="friday3">vrijdag avond-->
<!--    <br><br>-->

    <table>
        <tr>
            <th></th>
            <th>maandag</th>
            <th>dinsdag</th>
            <th>woensdag</th>
            <th>donderdag</th>
            <th>vrijdag</th>
        </tr>
        <tr>
            <th>Ochtend</th>
            <td><input type="checkbox" name="day" value="monday1"></td>
            <td><input type="checkbox" name="day" value="tuesday1"></td>
            <td><input type="checkbox" name="day" value="wednesday1"></td>
            <td><input type="checkbox" name="day" value="thursday1"></td>
            <td><input type="checkbox" name="day" value="friday1"></td>
        </tr>
        <tr>
            <th>Middag</th>
            <td><input type="checkbox" name="day" value="tuesday2"></td>
            <td><input type="checkbox" name="day" value="tuesday2"></td>
            <td><input type="checkbox" name="day" value="wednesday2"></td>
            <td><input type="checkbox" name="day" value="thursday2"></td>
            <td><input type="checkbox" name="day" value="friday2"></td>
        </tr>
        <tr>
            <th>Avond</th>
            <td><input type="checkbox" name="day" value="monday3"></td>
            <td><input type="checkbox" name="day" value="tuesday3"></td>
            <td><input type="checkbox" name="day" value="wednesday3"></td>
            <td><input type="checkbox" name="day" value="thursday3"></td>
            <td><input type="checkbox" name="day" value="friday3"></td>
        </tr>
    </table>

    <input type="submit" onclick="alert ('Uw wekelijkse beschikbaarheid is opgeslagen in de database')" value="Opslaan">

    <br><br>
    <p>Geef hieronder uw incidentele afwezigheid door</p>
    Afwezig:
    <input type="date" name="incident">
    <input type="submit" onclick="alert ('Uw afwezigheid is doorgegeven aan de database')" value="Doorgeven">
</form>
<br><br>
<form action="/">
<button>Hoofdmenu</button>


<!--</form>-->

<!--<br><br>-->
<!--<form>-->
<!--    <ul>-->
<!--        <li th:each="dayPartValue : $(getDayPartValue)" >-->
<!--            <div class="ui checkbox">-->
<!--                <input type="checkbox" th:name="#(DayPart.Workday)" th:value="$(DayPart.dayPartValue)">-->
<!--                <label th:text="$(DayPart.dayPartValue)"></label>-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->
<!--</form>-->



</body>
</html>