<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Voorkeur vakken</h1>
    <p>Voer a.u.b uw voorkeur in hieronder (schaal 1-3)</p>

    <form th:object="${preferenceForm}" th:action="@{postPreferences}" method="post">
        <fieldset>
            <legend>Vakken</legend>
            <ul th:each="vak, vakindex : ${voorkeurTestsList}">
                    <label th:text="${vak.naamVak}"></label>
                        <div th:each="schaal, schaalStat : ${voorkeurSchaal}">
                        <input type="radio"
                               th:field="*{voorkeur[__${vakindex.index}__].voorkeurVak}"
                               th:value="${voorkeurSchaal[__${schaalStat.index}__].schaal}" />
                        <label th:text="${voorkeurSchaal[__${schaalStat.index}__].schaal}"></label>
                    <br>
                </div>
            </ul>
        </fieldset>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
<!--



    <br>
    <h1>Some header to separate</h1>
    <br>






    <form th:object="${preferenceForm}" method="post">
        <fieldset>
            <legend>Vakken</legend>
            <ul>
                <li th:each="preference, preferenceStat: ${voorkeurTestsList}">\
                    <label th:text="${preference.naamVak}"></label>
                    <input type="radio"
                           th:field="*{voorkeur[__${preferenceStat.index}__].voorkeurVak}"
                           th:for th:value="${preference.voorkeurVak}" />
                    <label th:each="voorkeur : ${preference.voorkeurSchaal}" th:text="${voorkeur.schaal}"></label>
                    <br>
                </li>
            </ul>
        </fieldset>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <br>
    <h1>Some header to separate</h1>
    <br>



&lt;!&ndash;    <form action="#" th:action="@{/processForm}" th:object="${preferenceForm}"
          method="post">
        <fieldset>
            <table style="width: 500px">
                <tr th:each="preference, preferenceStat : ${voorkeurTestsList}">
                    <td>
                        <div>
                            <div>
                                <label th:text="${preference.naamVak}"></label>
                                <tr th:each="schaal : ${voorkeurSchaal}">
                                    <input type="radio"
                                        th:field="*{voorkeur[__${pre.index}__].voorkeurVak}"
                                        th:for th:value="${preference.voorkeurVak}" />
                                    <label th:text="${schaal.schaal}" />
                                </tr>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit"
                                class="btn btn-xs btn-primary margin10-right paddingNew"
                                name="save">Calculate!</button>
                    </td>
                    <td></td>
                </tr>
            </table>
        </fieldset>
    </form>&ndash;&gt;


    <br>
    <h1>Some header to separate</h1>
    <br>



    <form action="#" th:action="@{/processForm}" th:object="${preferenceForm}"
          method="post">
        <fieldset>
            <table style="width: 500px">
                <tr th:each="voorkeur : ${voorkeurTestsList}">
                    <td>
                        <div>
                            <div>
                                <label th:text="${voorkeur.naamVak}"></label>
                                <br>
                                <input type="radio" th:name="${'voorkeur.naamVak[' + voorkeur + ']'}" value="1" />1
                                <input type="radio" th:name="${'voorkeur.naamVak[' + voorkeur+ ']'}" value="2" />2
                                <input type="radio" th:name="${'voorkeur.naamVak[' + voorkeur + ']'}" value="3" />3
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit"
                                class="btn btn-xs btn-primary margin10-right paddingNew"
                                name="save">Calculate!</button>
                    </td>
                    <td></td>
                </tr>
            </table>
        </fieldset>
    </form>

    &lt;!&ndash;

    <form action="#" th:action="@{/processForm}" th:object="${preferenceForm}"
          method="post">
        <fieldset>
            <ul th:each="vakken : ${preferenceForm.voorkeur}">
                    <label th:text="${vakken.naamVak}"></label>
                <div>
                    <input type="radio"
                           th:name="${'vakken.naamVak['+vakken+']'}"
                           th:field="*{voorkeur}"
                           th:each="val : ${voorkeurSchaal}"
                           th:value="${val.schaal}" />

                    <label
                            th:for="${vakken.voorkeurSchaal}"
                            th:text="${vakken.voorkeurSchaal}"></label>
                </div>
            </ul>
        </fieldset>
    </form>&ndash;&gt;
-->
</body>
</html>